	<div class="container">

	<input type="text" data-ng-model="filter.name" placeholder="name" />
	Hi {{ name }}

	<ul>
		<li data-ng-repeat="cust in customers | orderBy: 'name' | filter: filter.name">
			{{cust.name | uppercase}}
			-
			{{ cust.city | uppercase }}
		</li>
	</ul>

	<br/>

	customer name:
	<br/>
	<input type="text" data-ng-model="newCustomer.name" placeholder="name" />
	<br/>
	customer city:
	</br>
	<input type="text" data-ng-model="newCustomer.city" placeholder="city" />
	<br/>

	<button data-ng-click="addCutomer()">add customer</button>
	<br/>
	<br/>

	<a href="#/view2">view 2</a>

</div>